﻿#page_content {
    width: 500px;
    height: 600px;
}


#mynavbar {
    list-style-type: none;
    margin-left: 150px;
}


    #mynavbar li {
        text-transform: uppercase;
        display: inline;
        margin-right: 5px;
        padding: 3px 2px;
        color: red;
    }
