﻿<%@ Control Language="C#" CodeBehind="Menu.ascx.cs"  Inherits="Finalproject.usercontrols.Menu" %>
<asp:SqlDataSource 
    runat="server" 
    ID="page_status_pick"
    ConnectionString="<%$ ConnectionStrings:school_sql_con %>">
</asp:SqlDataSource>


     <div  id="menu_list" runat="server"></div>
   
